body{
    background-color: hsl(0, 0%, 94%);
}

.container{
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    border-bottom-right-radius: 150px;
    padding: 2%;
    width: 700px;
    height: 570px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 300px;
    background-color: hsl(0, 0%, 100%);
}

.inputs-labels{
    display: flex;
    justify-content: space-around;
}

.box-day, .box-month, .box-year{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.box-year{
    margin-right: 150px;
}

.box-day{
    margin-left: 20px;
}

img{
    background-color: hsl(259, 100%, 65%);
    padding: 20px;
    border-radius: 50%;
    margin-left: 600px;
    margin-top: 10px;
    position: absolute;
}

.error-text{
    color: hsl(0, 100%, 67%);
    font-weight: 400;
    font-style: italic;
    font-size: small;
    margin-top: 10px;
}

.n-input{
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 10px;
    width: 130px;
    height: 70px;
    padding-left: 15px;
    font-size: 32px;
    font-weight: 600;
    font-style: normal;

}

.input-error{
    border: 1px solid hsl(0, 100%, 67%);
    border-radius: 10px;
    width: 130px;
    height: 70px;
    padding-left: 15px;
    font-size: 32px;
    font-weight: bold;
    font-weight: 600;
    font-style: normal;

}

.n-input::placeholder{
    color: hsl(0, 1%, 44%);
    opacity: 0.5;
}

.input-error::placeholder{
    color: hsl(0, 1%, 44%);
    opacity: 0.5;
}

.error-day-label, .day-label, .error-month-label, .month-label, .error-year-label, .year-label{
    font-weight: 700;
    font-style: normal;
    color: hsl(0, 1%, 44%);
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.error-day-label, .error-month-label, .error-year-label{
    color: hsl(0, 100%, 67%);
}

.year-display, .month-display, .day-display{
    display: flex;
    gap: 5px;
}

hr {
    border: none;
    border-top: 0.5px solid hsl(0, 0%, 86%);
    margin-top: 51.5px;
    margin-left: 33.5px;
    margin-right: 30px;
}

.age-number{
    font-weight: 800;
    font-style: italic;
    font-size: 100px;
    letter-spacing: 3px;
    margin-left: 30px;
    color: hsl(259, 100%, 65%);
}

.age-display{
    font-weight: 800;
    font-style: italic;
    font-size: 100px;
    letter-spacing: 3px;
}

.display-section{
    display: flex;
    flex-direction: column;
}

h1{
    margin-top: 0px;
    margin-bottom: 100px;
    height: 0px;
}
